@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body,
button {
  font-family: "Press Start 2P", cursive;
}

h1 {
  text-shadow: 3px 3px grey;
}

.container {
  background: url("https://images.unsplash.com/photo-1498511225742-7831d53e64b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "title"
    "main"
    "menu";
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  height: 450px;
  width: 450px;
  border: 1em solid black;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}

.menu {
  grid-area: menu;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  text-shadow: 2px 2px grey;
}

.mode {
  height: 2em;
  width: 3.3em;
  display: flex;
  border: 2px solid black;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  box-shadow: 2px 2px grey;
}

.toggle {
  height: 1.5em;
  width: 1.5em;
  border: 2px solid black;
  background-color: grey;
  margin: 0.1em;
}

.mode-on {
  justify-content: flex-end;
}

.toggle-on {
  background-color: rgb(255, 0, 217);
}

button {
  height: 3em;
  width: 10em;
  margin: 5px;
  font-size: 1em;
  border-radius: 0px;
  background-color: lightgrey;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }

  .canvas {
    height: 280px;
    width: 280px;
  }
}
